@tailwind base;
@tailwind components;
@tailwind utilities;

.tablemain {
    align-items: center;
    justify-items: center;
}

.tablehead {
    align-items: center;
    justify-items: center;
}

.tablerow {
    align-items: center;
    justify-items: center;
}